/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap');

/* body style or common styles or utilites */

body{
    font-family:'Poppins', sans-serif;
    background-color: #FFFFFF;
}

h5{
    font-size: 30px;
    padding-left: 120px;
    margin-bottom: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    /* padding-bottom: 120px; */
}
.start h1{
    font-size: 52px;
}


.anchor-button{
    text-decoration: none;
    display: inline-block;
    background: #E02C6D;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 70;
    margin-top: 20px;
}



.circle {
    height: 45px;
    margin: 55px auto;
    width: 400px;
    border-radius: 55%;
    background: #E02C6D;
    transition: all 5s;
 }
h4:hover{
    transform: scale(0,5);
}
  


.fa-arrow-right{
padding-left: 10px;
}
.main-camera{
    width: 440px;
    height: 414px;
    top: 210px;
}

.link{
    display: inline-block;
    margin: 30px;
}
div>a{
    padding-left: 80px;
}
div>a>img{
    height: 30px;
}
/* popular collection  */
.collection-title{
    text-align: center;
    font-size: 30px;
}


.collection-01{
    border: 2px solid #ffffff;
    background-color: whitesmoke;
    box-shadow: rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 10px;
}
div>h2{
    margin: 10px 0;
}
.star{
    margin: 0;
}

.popular-collection{  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.filled{
    color: #FB8200;

}

.see-more, .see-more>a{
    text-decoration: none;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgba(224, 44, 109, 0.87);
}




/* footer  */
.footer {
    
    height: 240px;
    background-color: #0A0826;
    color:#D9DBE1;
    text-align: center;
  }
.footer-brand{
    color: #FFFFFF;
    font-size: 24px;
    margin-top: 0;
    padding-top: 24px;
}
.social{
    font-size: 28px;
    padding-left: 24px;
}